{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.11.0/devicon.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="../static/style.css">

    <title>Principal Empresa</title>
</head>

<body>

    {% include "user_info.html" %}

    <div class="container">





        <a href="new_position" class="btn btn-warning  text-white m-4">Publicar una nueva oferta de trabajo</a>
        <!-- tabla lista de publicaciones de trabajo] -->

        <div class="row  rounded">
            <div class="d-flex justify-content-between">
                <div class="text-center flex-fill bg-light">
                    <p class="font-weight-bold border-bottom">Lista de cargos por ocupar</p>
                    {% for myposition in all_my_positions %}
                    {%if myposition.state_position == "En contratacion" %}
                    <p>
                        <a href="position_detail/{{myposition.id}}"
                            class=" link-primary text-decoration-none text-center">{{myposition.position_title}}</a>
                    </p>
                    {% endif %}
                    {% endfor%}
                </div>
                <div class="text-center flex-fill ">
                    <p class="font-weight-bold border-bottom">Lista de cargos en evaluación</p>


                    {% for myposition in all_my_positions %}
                    {%if myposition.state_position == "En evaluacion" %}
                    <p>
                        <a href="position_detail/{{myposition.id}}"
                            class="link-primary text-decoration-none text-center">{{myposition.position_title}} </a>
                    </p>

                    {% endif %}
                    {% endfor%}

                </div>
                <div class="text-center flex-fill bg-light">
                    <p class="font-weight-bold border-bottom">Lista de cargos concluidos</p>
                    {% for myposition in all_my_positions %}
                    {%if myposition.state_position == "Terminada" %}
                    <p>
                        <a href="position_detail/{{myposition.id}}"
                            class=" link-primary text-decoration-none ">{{myposition.position_title}} </a>
                    </p>

                    {% endif %}
                    {% endfor%}
                </div>
            </div>
        </div>





















        <!-- FIN TABLA PUBLICACIONES -->

        <h3 class="text-center mt-4">Lista de Desarroladores Disponibles</h3>
        {% for dev in all_developers %}
        <div class="row border bg-light p-1 my-2">
       
                <!-- colummnas del developer -->
                <div class="col-3 border-end">
                    <a href="developer_detail/{{dev.id}}" class="text-decoration-none link-secondary">
                        <p class="text-center fw-bold"> <h3>{{dev.first_name}} {{dev.last_name}}</h3>  </p>
                    </a>
                    {% if dev.user_biography.github_link %}
                    <a href="{{dev.user_biography.github_link}}" class="link-primary "><i
                            class="devicon-github-original-wordmark"></i>{{dev.user_biography.github_link}}</a>
                    {% endif%}

                    <div class="">
                        <p class="text-justify">{{dev.user_biography.short_bio}}</p>
                    </div>

                </div>
                <!-- colummnas de las skills -->
                <div class="col-8">
                    <div class="row mt-3">
                        {% for language in all_languages %}
                        {% if language in dev.developer_language.all%}
                        <div class="col-auto">
                            <div class="row">
                                <i class="{{language.icon_link_language}} display-1"></i>
                            </div>
                            <div class="row">
                                <p class=" text-center"> {{language.skill_name}}</p>
                            </div>

                        </div>
                        {% endif %}
                        {% endfor %}


                        {% for framework in dev.developer_framework.all %}
                        {% if framework in dev.developer_framework.all%}
                        <div class="col-auto">
                            <div class="">
                                <i class="{{framework.icon_link_framework}} display-1  "></i>
                                <p class="text-center "> {{framework.skill_name}}</p>
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}

                    </div>
                </div>

        


        </div>
        {% endfor %}




    </div>

</body>

</html>