{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.11.0/devicon.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="../static/style.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>

        $(document).ready(function () {
            $('#mySelect').val("{{this_position.state_position}}");

            $('#mySelect').change(function () {
                selectVal = $('#mySelect').val();

                if (selectVal == 0) {
                    $('#mySubmit').prop("disabled", true);
                }
                else {
                    $('#mySubmit').prop("disabled", false);
                }
            })

        });

    </script>

    <title>Detalle del Cargo</title>
</head>

<body>

    {% include "user_info.html" %}

    <div class="container">
        <a href="/">Atrás</a>


        <div class="row">

            <div class="col-4">

                <h3>Detalle del puesto de trabajo</h3>
                <p>Titulo: {{this_position.position_title}}</p>
                Detalle:
                <p>{{this_position.position_description}}</p>
                <!-- formulario para ingresar estado de la publiación  -->
                Estado:
                <form action="update_state_position/{{this_position.id}}" method="post"
                    class="d-flex justify-content-around">
                    {% csrf_token %}
                    <select class="form-control" name="state_position" id="mySelect">
                        <option value="{{this_position.state_position}}" selected disabled hidden>
                            {{this_position.state_position}}</option>
                        <option value="En contratacion">En contratacion</option>
                        <option value="En evaluacion">En evaluacion</option>
                        <option value="Terminada">Terminada</option>
                    </select>

                    
                        <button type='submit'  id="mySubmit" class="btn-sm btn-primary ms-4 mt-1" disabled >Actualizar</button>
                        <!-- class="btn-sm btn-primary ms-4 mt-1" -->
                </form>




                <h4 class="text-center mt-2">Habilidades requeridas:</h4>

                <div class="row">
                    {% for lang in this_position.position_language.all %}
                    <div class="col-3">
                        <div class="row">

                            <i class="{{lang.icon_link_language}} display-1"></i>
                        </div>

                        <div class="row">
                            <p class="text-center"> {{lang.skill_name}}</p>
                        </div>

                    </div>
                    {% endfor %}


                    {% for frame in this_position.position_framework.all %}
                    <div class="col-3">
                        <div class="row">

                            <i class="{{frame.icon_link_framework}} display-1"></i>
                        </div>

                        <div class="row">
                            <p class="text-center"> {{frame.skill_name}}</p>
                        </div>

                    </div>
                    {% endfor %}


                    <div class="d-flex justify-content-center"><a href="delete_position/{{this_position.id}}"
                            class="btn btn-danger mt-4 rounded col-5">BORRAR ESTA PUBLICACION</a></div>

                </div>


                <h3></h3>

            </div>

            <div class="col-8">


                <h3 class="text-center">Match de Desarroladores</h3>
                {% for dev in all_developers|dictsortreversed:"skills_number"|dictsortreversed:"match" %}
                <div class="border bg-light p-2 m-2">




                    <div class="d-flex justify-content-start">
                        <p class="text-center"> <a href="/jobshuborg/developer_detail/{{dev.id}}">{{dev.first_name}}
                                {{dev.last_name}}</a> : {{dev.user_biography.short_bio}}</p>
                    </div>



                    <div class="d-flex justify-content-between">

                        {% for language in all_languages %}
                        {% if language in dev.developer_language.all%}
                        <div class=" m-1">
                            <div class="row">
                                <i class="{{language.icon_link_language}} display-1"></i>
                            </div>
                            <div class="row">
                                <p class=" text-center"> {{language.skill_name}}</p>
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}


                        {% for framework in dev.developer_framework.all %}
                        {% if framework in dev.developer_framework.all%}
                        <div class="m-1 col-1">
                            <div class="row">
                                <i class="{{framework.icon_link_framework}} display-1 "></i>

                            </div>
                            <div class="row">
                                <p class="text-center"> {{framework.skill_name}}</p>
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}


                        <div class="  ">
                            <div class="">
                                <p class="text-center">MATCH</p>
                            </div>
                            <div class="row">
                                <h3 class="text-center">{{dev.match_proportion}}%</h3>
                                <p class="text-center">{{dev.match}} </p>
                                <p class="text-center">{{dev.skills_number}} </p>
                            </div>
                        </div>
                    </div>




                </div>
                {% endfor %}

            </div>
        </div>

        <a href="/">Atrás</a>
    </div>

</body>

</html>