{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <script>
        function isInputNumber(evt) {
            var ch = String.fromCharCode(evt.which);
            if (!(/[0-9]/.test(ch))) {
                evt.preventDefault();
            }
        }
    </script>
    <title>Registro Desarrolladores</title>
</head>

<body>
    <div class="col-md-5 bg-light m-4 p-3 rounded text-secondary">
        <h3>Registrese Acá:</h3>

        <form action='registerdeveloper' id='formRegister' method='post'>

            {% csrf_token %}
            {{ developerform.as_p }}
            <button type='submit' class="btn btn-primary col-sm-3 m-2">Registrarse</button>
        </form>

    </div>
</body>

</html>